:root {
	--ratio--1: calc( var( --ratio-0 ) / var( --ratio ) );
	--ratio: 1.5;
	--ratio-0: var( --ratio );
	--ratio-1: calc( var( --ratio-0 ) * var( --ratio ) );
	--ratio-2: calc( var( --ratio-1 ) * var( --ratio ) );
	--ratio-3: calc( var( --ratio-2 ) * var( --ratio ) );

	--size--4: calc( var( --size--3 ) / var( --ratio ) );
	--size--3: calc( var( --size--2 ) / var( --ratio ) );
	--size--2: calc( var( --size--1 ) / var( --ratio ) );
	--size--1: calc( var( --size-0 ) / var( --ratio ) );
	--size-0: 1rem;
	--size-1: calc( var( --size-0 ) * var( --ratio ) );
	--size-2: calc( var( --size-1 ) * var( --ratio ) );
	--size-3: calc( var( --size-2 ) * var( --ratio ) );
	--size-4: calc( var( --size-3 ) * var( --ratio ) );
	--size-5: calc( var( --size-4 ) * var( --ratio ) );
	--size-6: calc( var( --size-5 ) * var( --ratio ) );

	--border-radius: 6px;

	/* Composition */
	--measure: 56ch;
	--page-margin: clamp( var( --size-0 ), 8vw, var( --size-4 ) );

	--box-padding: var( --page-margin );
	--container-size: 96ch;

	--inset-size: var(--page-margin);

	--stack-xs-size: calc( var( --font-size ) / var( --ratio-1 ) );
	--stack-sm-size: calc( var( --font-size ) / var( --ratio-0 ) );
	--stack-size: calc( var( --font-size ) * var( --ratio-1 ) );
	--stack-lg-size: calc( var( --font-size ) * var( --ratio-2 ) );

	/* Fonts */
	--font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Menlo, Monaco, "Courier New", Courier, monospace;
	--font-sans: "franklin-gothic-urw", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-serif: Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", serif;

	--font-body: var(--font-sans);
	--font-category: var(--font-sans);
	--font-heading: "mrs-eaves", var(--font-serif);

	--font-size-sm: var(--size-0);
	--font-size: var(--size-0);
	--font-size-md: clamp(
		calc( var( --size-0 ) ),
		calc( var( --size--2 ) + 1vw ),
		var( --size-1 )
	);
	--font-size-lg: clamp(
		var( --size-3 ),
		calc( var( --size-2 ) + 5vw ),
		calc( var( --size-3 ) * 1.375 )
	);

	--font-size-base: clamp(
		var(--size-0),
		calc( var(--size--1) + 1.25vw ),
		calc( var(--size-0) * 1.25 )
	);

	--font-size-1: calc( var(--font-size-base) * var(--ratio) );
	--font-size-2: calc( var(--font-size-1) * var(--ratio) );
	--font-size-2: calc( var(--font-size-1) * var(--ratio) );
	--font-size-3: calc( var(--font-size-2) * var(--ratio) );

	/* Colors */
	--color-black: #000;
	--color-gray-dark: #555;
	--color-gray-light: #dcdcdc;
	--color-green: #009340;

	--color-background: #fff;
	--color-border: var(--color-gray-light);
	--color-button: #ededed;
	--color-button--hover: var(--color-gray-light);
	--color-category: var(--color-green);
	--color-text: var(--color-black);
}

body {
	--page-margin-y: calc( var(--page-margin) * var(--ratio-0) );

	font-family: var(--font-body);
	font-size: var(--font-size);
	margin-bottom: var(--page-margin-y);
	margin-top: var(--page-margin-y);
}

a {
	color: currentcolor;
}

a:hover {
	text-decoration: underline;
}

img {
	box-shadow: 0 0 0 1px var(--color-border);
}
@media (min-width: 902px) {
	img {
		border-radius: var(--border-radius);
	}
}
