.accordion {
	list-style: none;
	padding: 0;
}
	.accordion [aria-hidden="true"] {
		display: none;
	}

.font-sans {
	font-family: var(--font-sans);
}

.font-sm {
	font-size: var(--font-size-sm);
}

.measure {
	max-width: var( --measure );
}

.no-underline {
	text-decoration: none;
}
	.no-underline:hover {
		text-decoration: underline;
		text-decoration-thickness: min( calc( 1em / 16 ), 2px );
	}

.nowrap {
	white-space: nowrap;
}
