{#
 # @param {Object} props
 # @prop {string} alt
 # @prop {boolean} loading
 # @prop {string} src
 # @prop {number} height
 # @prop {number} width
 #}
{% macro picture( props ) %}
<picture>
	<source
		srcset="{{ props.src | replace( ".jpg", ".avif" ) }}"
		type="image/avif"
	/>
	<source
		srcset="{{ props.src | replace( ".jpg", ".webp" ) }}"
		type="image/webp"
	/>
	<img
		alt="{{ props.alt }}"
		height="{{ props.height }}"
		loading="{{ props.loading if props.loading else "lazy" }}"
		src="{{ props.src }}"
		width="{{ props.width }}"
	/>
</picture>
{% endmacro %}
