.header__category {
	color: var(--color-category);
	font-family: var(--font-category);
	font-size: var(--font-size-sm);
	font-weight: bold;
	letter-spacing: 0.0625em;
	line-height: 1;
	text-transform: uppercase;
}

.header__heading {
	font-size: var(--font-size-base);
}

.header__title {
	font-family: var(--font-heading);
	font-size: var(--font-size-3);
	font-weight: normal;
	letter-spacing: -3px;
	line-height: 1;
}
