.header__caption {
	color: var(--color-gray-dark);
	line-height: 1.25;
	padding-left: var(--stack-sm-size);
	padding-right: var(--stack-sm-size);
}

@media (min-width: 526px) {
	.header__caption {
		padding-left: 0;
		padding-right: 0;
	}
}

.header__category {
	color: var(--color-category);
	font-family: var(--font-category);
	font-size: var(--font-size-sm);
	font-weight: bold;
	letter-spacing: 0.0625em;
	line-height: 1;
	text-transform: uppercase;
}

.header__heading {
	font-size: var(--font-size-md);
}

.header__title {
	font-family: var(--font-heading);
	font-size: var(--font-size-lg);
	letter-spacing: -2px;
	line-height: 1;
}
