.install__bookmarklet {
	-webkit-appearance: none;
	border: solid var(--color-black) 1px;
	border-radius: 0;
	color: var(--color-gray-dark);
	font-family: var(--font-mono);
	font-size: var(--font-size-sm);
	padding: var(--size--3) var(--size--1);
	width: 100%;
}
.install__bookmarklet:focus-visible {
	box-shadow: 0 0 0 4px var(--color-green);
	outline: none;
}

.install__bookmarklet-desktop {
	background-color: var(--color-button);
	border-radius: var(--border-radius);
	cursor: grab;
	font-family: var(--font-category);
	font-weight: bold;
	padding: var(--size--4) var(--size--2);
	text-decoration: none;
}
	.install__bookmarklet-desktop:hover {
		text-decoration: none;
	}

.install__button {
	--background-color: var(--color-button);
	--color: var(--color-text);

	background-color: var(--background-color);
	border: none;
	color: var(--color);
	cursor: pointer;
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 0;
	padding: var(--padding-y) var(--padding-x);
	position: relative;
	text-align: left;
	width: 100%;
}
	.install__button[aria-expanded="true"] {
		--background-color: var(--color-black);
		--color-button--hover: var(--color-black);
		--color: white;
	}

	.install__button:focus-visible {
		outline: none;
		box-shadow: 0 0 0 4px var(--color-green);
	}

	.install__button:hover {
		background-color: var(--color-button--hover);
	}

.install__button::after {
	content: "+";
	display: block;
	font-weight: bold;
	justify-self: end;
	line-height: 1;
	text-align: center;
	width: 0.75em;
}
	.install__button[aria-expanded="true"]::after {
		content: "–";
	}

.install__callout {
	background-color: #eee;
	padding: var(--size-0);
}

.install__category {
	--padding-x: 1.125em;
	--padding-y: 1.125em;
}

.install__content {
	border: solid var(--color-black) 3px;
	border-top: none;
	font-size: var(--font-size-sm);
	padding: calc( var(--padding-y) * var(--ratio--1) ) calc( var( --padding-x ) * var(--ratio--1) );
}

.install__copy {
	border: solid var(--color-border) 1px;
	font-size: var(--font-size-sm);
	display: grid;
	padding: var(--font-size);
}
	.install__copy input {
		-webkit-appearance: none;
		border: solid var(--color-black) 1px;
		border-radius: 0;
		padding: var(--size--4) var(--size--2);
	}
	.install__copy input:focus-visible {
		box-shadow: 0 0 0 4px var(--color-green);
		outline: none;
	}

	.install__copy label {
		font-weight: bold;
		line-height: 1;
	}

.install__copy-hint {
	color: var(--color-gray-dark);
}

.install__heading {
	font-size: inherit;
	font-weight: normal;
	line-height: 1;
}

.install__steps {
	border-left: solid var(--color-border) 1px;
	counter-reset: list;
	list-style: none;
	margin-left: 1em;
	padding-left: var(--size-2);
}

.install__steps li {
	counter-increment: list;
	position: relative;
}

.install__steps li::before {
	background-color: var(--color-text);
	border-radius: 50%;
	color: var(--color-background);
	content: counter(list);
	font-weight: bold;
	line-height: 1;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	position: absolute;
	text-align: center;
	transform: translateX( calc( -1 * var(--size-2) - 1.025em ) ) translateY( -0.25em );
	width: 2em;
}

.install__steps li picture {
	margin-top: var(--stack-sm-size);
}
