.reminder {
	background-color: var(--color-text);
	color: var(--color-background);
	font-family: var(--font-sans);
	font-size: var(--font-size-sm);
	padding: var(--page-margin);
}
	@media (min-width: 626px) {
		.inset .reminder {
			border-radius: var(--border-radius);
			padding: var(--size-2);
			margin-left: var(--inset-size);
			margin-right: var(--inset-size);
		}
	}

.reminder__heading {
	font-size: inherit;
	letter-spacing: 1px;
	line-height: 1;
	text-transform: uppercase;
}
