.section__heading {
	font-family: var(--font-heading);
	font-size: var(--font-size-2);
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1;
}

.section__subheading {
	font-size: var(--font-size-md);
	margin-top: calc( var(--stack-sm-size) * var(--ratio-1) );
}

.section picture {
	margin-bottom: var(--stack-size);
	margin-top: var(--stack-size);
}
