.usage__check::after {
	--size: 1.125em;

	content: "";
	border: solid var(--color-green);
	border-width: 0 4px 4px 0;
	display: inline-block;
	height: var(--size);
	margin-left: 0.625em;
	transform: rotate(45deg) translate(0, 0);
	width: calc( var(--size) / 2 );
}
