/* --------------------------------------------------
   Grid
   -------------------------------------------------- */
.spellcheck-grid table {
	width: 100%;
}

.spellcheck-grid td,
.spellcheck-grid th {
	height: var(--grid-row-height);
	text-align: center;
	vertical-align: middle;
}
.spellcheck-grid tr + tr {
	border-top: var(--border);
}
.spellcheck-grid th {
	font-weight: bold;
	min-width: var(--grid-col-width);
}
.spellcheck-grid td {
	font-size: var(--text-size-lg);
}
