<article class="spellcheck-grid">
	<h3 class="spellcheck__heading">Today’s Grid</h3>

	<div class="spellcheck-card">
		<table>
			<tbody>
				<tr>
					<th></th>
					${ (() => (
						grid.wordLengths.map( wordLength => (
							`<th>${wordLength}</th>`
						) ).join( "" )
					))() }
				</tr>

				${ (() => (
					Object.entries( grid.remaining( words ).distributions ).map( ([letter, distribution]) => {
						const tdElements = Object.entries( distribution )
							.map( ([length, count]) => {
								let value = count;

								if( count === 0 )
								{
									if( grid.distributions[letter][length] === 0 )
									{
										value = "-";
									}
									else
									{
										value = `{% include "partials/components/checked-item.njk" %}`;
									}
								}

								return `<td>${ value }</td>`;
							})
							.join( "" );

						return `
						<tr>
							<th>${ letter }</th>
							${ tdElements }
						</tr>`;
					}).join( "" )
				))() }
			</tbody>
		</table>
	</div>
</article>
