/* --------------------------------------------------
   Spellcheck
   -------------------------------------------------- */
.spellcheck .spellcheck__body {
	margin-top: var(--space-2);
}

.spellcheck .spellcheck__body > * {
	margin-bottom: 0 !important;
}

.spellcheck .spellcheck__body > * + * {
	margin-top: var(--space-2) !important;
}

.spellcheck__heading {
   background-position: left top 3.5px;
   background-repeat: no-repeat;
   background-size: var(--space-1);
   display: inline-block;
   padding-left: calc(var(--space-1) + 6px);
   font-weight: bold;
}

.spellcheck__heading--grid {
   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eicon-grid%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-70 -21)' fill='%23000'%3E%3Cpath d='m96 21c3.3137 0 6 2.6863 6 6v20c0 3.3137-2.6863 6-6 6h-20c-3.3137 0-6-2.6863-6-6v-20c0-3.3137 2.6863-6 6-6h20zm-18 21c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm8 0c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm8 0c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm-16-8c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm8 0c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm8 0c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm-8-8c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3zm8 0c-1.6569 0-3 1.3431-3 3s1.3431 3 3 3 3-1.3431 3-3-1.3431-3-3-3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.spellcheck__heading--support {
   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eicon-support%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-68 -61)' fill='%23000'%3E%3Cpath d='m94 61c3.3137 0 6 2.6863 6 6v20c0 3.3137-2.6863 6-6 6h-20c-3.3137 0-6-2.6863-6-6v-20c0-3.3137 2.6863-6 6-6h20zm-10 20.875c-0.89746 0-1.625 0.72754-1.625 1.625v4.875c0 0.89746 0.72754 1.625 1.625 1.625s1.625-0.72754 1.625-1.625v-4.875c0-0.89746-0.72754-1.625-1.625-1.625zm11.113-2.4375-5.0856-1.846e-4c-0.65956 1.6296-1.9608 2.9307-3.5903 3.5903l1.846e-4 5.0856c4.3257-0.94439 7.7314-4.3501 8.6758-8.6758zm-17.141-1.846e-4 -5.0856 1.846e-4c0.94436 4.3255 4.3498 7.7311 8.6752 8.6756l-2.983e-4 -5.0859c-1.6291-0.65969-2.9299-1.9607-3.5893-3.5899zm17.403-4.0623h-4.875c-0.89746 0-1.625 0.72754-1.625 1.625s0.72754 1.625 1.625 1.625h4.875c0.89746 0 1.625-0.72754 1.625-1.625s-0.72754-1.625-1.625-1.625zm-17.875 0h-4.875c-0.89746 0-1.625 0.72754-1.625 1.625s0.72754 1.625 1.625 1.625h4.875c0.89746 0 1.625-0.72754 1.625-1.625s-0.72754-1.625-1.625-1.625zm8.9375-9.4882-1.846e-4 5.0856c1.6292 0.65942 2.9302 1.9602 3.5899 3.5893l5.0859 2.983e-4c-0.94455-4.3254-4.3501-7.7309-8.6756-8.6752zm-4.8755 1.145e-4c-4.3253 0.94452-7.7306 4.3499-8.6751 8.6751l5.0859-2.983e-4c0.65955-1.6287 1.9601-2.9293 3.5889-3.5889zm2.438-1.8869c-0.89746 0-1.625 0.72754-1.625 1.625v4.875c0 0.89746 0.72754 1.625 1.625 1.625s1.625-0.72754 1.625-1.625v-4.875c0-0.89746-0.72754-1.625-1.625-1.625z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.spellcheck__heading--tll {
   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eicon-tll%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-110 -21)' fill='%23000'%3E%3Cpath d='m136 21c3.3137 0 6 2.6863 6 6v20c0 3.3137-2.6863 6-6 6h-20c-3.3137 0-6-2.6863-6-6v-20c0-3.3137 2.6863-6 6-6h20zm-14.307 6.064h-2.38l-4.452 19.936h2.856l0.84-4.284h3.892l0.84 4.284h2.856l-4.452-19.936zm9.5573 0h-4.172v19.936h3.892c1.8667 0 3.2247-0.46667 4.074-1.4 0.79625-0.875 1.2193-2.1109 1.269-3.7078l0.004977-0.32419v-1.12c0-1.064-0.15867-1.904-0.476-2.52s-0.812-1.0827-1.484-1.4c0.65333-0.37333 1.1387-0.82133 1.456-1.344 0.168-0.28 0.294-0.60667 0.378-0.98 0.07-0.31111 0.11083-0.68056 0.1225-1.1083l0.0035-0.26367v-0.728c0-0.65333-0.088667-1.2833-0.266-1.89s-0.47133-1.1433-0.882-1.61-0.938-0.84-1.582-1.12c-0.5635-0.245-1.2306-0.38281-2.0013-0.41344l-0.33666-0.0065625zm-0.056 10.696c0.52267 0 0.94267 0.060667 1.26 0.182s0.56933 0.31267 0.756 0.574c0.168 0.26133 0.28 0.57867 0.336 0.952s0.084 0.812 0.084 1.316c0 0.48533-0.018667 0.93333-0.056 1.344s-0.14 0.76533-0.308 1.064-0.41533 0.532-0.742 0.7-0.77933 0.252-1.358 0.252h-1.232v-6.384h1.26zm-10.677-4.956 1.4 7.224h-2.856l1.4-7.224h0.056zm10.593-3.052c0.952 0 1.61 0.224 1.974 0.672s0.546 1.12 0.546 2.016c0 0.91467-0.16333 1.61-0.49 2.086s-0.966 0.714-1.918 0.714h-1.288v-5.488h1.176z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.spellcheck__heading + * {
	margin-top: var(--space-0);
}




/* --------------------------------------------------
   Carousel
   -------------------------------------------------- */
.spellcheck-carousel {
   margin-left: calc(-1 * var(--space-outer));
   margin-right: calc(-1 * var(--space-outer));
}

.spellcheck-carousel__cards {
   column-gap: var(--space-2);
   display: grid;
   grid-template-columns: repeat(var(--carousel-columns, 1), 100%);
   overflow-x: scroll;
   padding-bottom: var(--space-2);
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
}

.spellcheck-carousel__cards::-webkit-scrollbar {
   display: none;
}

.spellcheck-carousel__cards > * {
   padding-left: var(--space-outer);
   padding-right: var(--space-outer);
   scroll-snap-align: start;
}

.spellcheck-carousel__dots {
   --dot-size: 8px;

   column-gap: var(--space-1);
   display: flex;
   justify-content: center;
}

.spellcheck-carousel__dot {
   --bgc: var(--color-gray);

   background-color: var(--bgc);
   border-radius: 50%;
   height: var(--dot-size);
   position: relative;
   transition: background-color 0.25s ease;
   width: var(--dot-size);
}

.spellcheck-carousel__dot[data-active="true"] {
   --bgc: var(--color-black);
}

.spellcheck-carousel__dot--support::after {
   --size: 50%;

   background-color: white;
   border-radius: 50%;
   content: "";
   height: var(--size);
   left: calc((100% - var(--size)) / 2);
   position: absolute;
   top: calc((100% - var(--size)) / 2);
   width: var(--size);
}

.spellcheck-carousel__nav .sb-bob-arrow {
   display: none;
}

@media not all and (pointer: coarse) {
   .spellcheck-carousel__nav {
      align-items: center;
      display: grid;
      grid-template-columns: auto 1fr auto;
      padding-left: var(--space-outer);
      padding-right: var(--space-outer);
   }

   .spellcheck-carousel__nav .sb-bob-arrow {
      display: block;
      left: 0;
      position: relative;
      right: 0;
   }
}



/* --------------------------------------------------
   Card
   -------------------------------------------------- */
.spellcheck-card {
	border: var(--border);
	border-radius: var(--border-radius);
	padding: var(--space-1);
}

:where(.spellcheck-grid, .spellcheck-tll) .spellcheck-card {
   background-color: #fafafa;
}

:where(.spellcheck-grid, .spellcheck-tll) .spellcheck-card > * {
   opacity: 0;
}

.spellcheck .spellcheck-card__header {
	margin-bottom: 0;
}




/* --------------------------------------------------
   Checkmark
   -------------------------------------------------- */
.spellcheck-checkmark {
	border: solid var(--checkmark-color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	height: 17px;
	margin-top: 10px;
	transform: rotate(45deg) translate(-3px, -3px);
	width: 8.5px;
}

.spellcheck-empty-item {
	color: var(--border-color);
   font-size: 12px;
   position: relative;
}




/* --------------------------------------------------
   Disclaimer
   -------------------------------------------------- */
.spellcheck-disclaimer {
   --stack-size: var(--space-1);

   border-top: solid var(--color-gray) 1px;
   color: #595959;
   font-size: var(--text-size-xs);
   padding-top: var(--space-0);
}

.spellcheck-disclaimer a {
   color: inherit;
   text-decoration: underline;
}




/* --------------------------------------------------
   Error
   -------------------------------------------------- */
.spellcheck-error__details {
	font-size: var(--text-size-sm);
}

.spellcheck-error__details-contents {
	font-family: monospace;
}
