/* --------------------------------------------------
   Spellcheck
   -------------------------------------------------- */
.spellcheck .spellcheck__body {
	margin-top: var(--space-2);
}

.spellcheck .spellcheck__body > * {
	margin-bottom: 0 !important;
}

.spellcheck .spellcheck__body > * + * {
	margin-top: var(--space-2) !important;
}

.spellcheck__heading {
	font-weight: bold;
}

.spellcheck__heading + * {
	margin-top: var(--space-0);
}




/* --------------------------------------------------
   Carousel
   -------------------------------------------------- */
.spellcheck-carousel {
   margin-left: calc(-1 * var(--space-outer));
   margin-right: calc(-1 * var(--space-outer));
}

.spellcheck-carousel__cards {
   column-gap: var(--space-2);
   display: grid;
   grid-template-columns: repeat(var(--carousel-columns, 1), 100%);
   overflow-x: scroll;
   padding-bottom: var(--space-2);
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
}

.spellcheck-carousel__cards::-webkit-scrollbar {
   display: none;
}

.spellcheck-carousel__cards > * {
   padding-left: var(--space-outer);
   padding-right: var(--space-outer);
   scroll-snap-align: start;
}

.spellcheck-carousel__dots {
   --dot-size: 8px;

   column-gap: var(--space-1);
   display: flex;
   justify-content: center;
}

.spellcheck-carousel__dot {
   --bgc: var(--color-gray);

   background-color: var(--bgc);
   border-radius: 50%;
   height: var(--dot-size);
   position: relative;
   transition: background-color 0.25s ease;
   width: var(--dot-size);
}

.spellcheck-carousel__dot[data-active="true"] {
   --bgc: var(--color-black);
}

.spellcheck-carousel__dot--support::after {
   --size: 50%;

   background-color: white;
   border-radius: 50%;
   content: "";
   height: var(--size);
   left: calc((100% - var(--size)) / 2);
   position: absolute;
   top: calc((100% - var(--size)) / 2);
   width: var(--size);
}

.spellcheck-carousel__nav .sb-bob-arrow {
   display: none;
}

@media not all and (pointer: coarse) {
   .spellcheck-carousel__nav {
      align-items: center;
      display: grid;
      grid-template-columns: auto 1fr auto;
      padding-left: var(--space-outer);
      padding-right: var(--space-outer);
   }

   .spellcheck-carousel__nav .sb-bob-arrow {
      display: block;
      left: 0;
      position: relative;
      right: 0;
   }
}



/* --------------------------------------------------
   Card
   -------------------------------------------------- */
.spellcheck-card {
	border: var(--border);
	border-radius: var(--border-radius);
	padding: var(--space-1);
}

.spellcheck .spellcheck-card__header {
	margin-bottom: 0;
}




/* --------------------------------------------------
   Checkmark
   -------------------------------------------------- */
.spellcheck-checkmark {
	border: solid var(--checkmark-color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	height: 17px;
	margin-top: 10px;
	transform: rotate(45deg) translate(-3px, -3px);
	width: 8.5px;
}




/* --------------------------------------------------
   Disclaimer
   -------------------------------------------------- */
.spellcheck-disclaimer {
   --stack-size: var(--space-1);

   border-top: solid var(--color-gray) 1px;
   color: #595959;
   font-size: var(--text-size-xs);
   padding-top: var(--space-0);
}




/* --------------------------------------------------
   Error
   -------------------------------------------------- */
.spellcheck-error__details {
	font-size: var(--text-size-sm);
}

.spellcheck-error__details-contents {
	font-family: monospace;
}
