import App from "./app.mjs";
import UI from "./ui.mjs";

(async () =>
{
	if( !window.spellcheckUi )
	{
		window.spellcheckUi = UI;
	}

	if( !window.spellcheckApp )
	{
		try
		{
			window.spellcheckUi.addStyles();

			let hintsLink = document.querySelector( ".pz-toolbar-button__hints" )
				|| document.querySelector( ".pz-dropdown__menu-item[href]" );

			if( !hintsLink || !hintsLink.href )
			{
				window.spellcheckApp.showErrorModal( "Spell Check was unable to locate today’s grid.", "Could not locate “Today’s Hints” menu item" );
			}

			console.log( "⬇️ Spell Check: Fetching today’s grid" );
			let remoteGrid = await App.fetchGrid( hintsLink.href );

			/* eslint-disable quotes */
			window.spellcheckApp = new App({
				flags: "{{ env.SPELLCHECK_FLAGS }}",
				grid: remoteGrid,
			});
			/* eslint-enable quotes */

			window.spellcheckApp.showGridModal();
		}
		catch( error )
		{
			console.log( error );

			App.showErrorModal( "Spell Check was unable to fetch today’s grid.", error.message );
		}
	}
	else
	{
		window.spellcheckApp.showGridModal();
	}
})();
