import App from "./app.mjs";
import UI from "./ui.mjs";

(async () =>
{
	if( !window.spellcheckApp )
	{
		try
		{
			// The link element on the SB page is now unrendered until a button
			// is pressed, so we'll just build the URL manually instead.
			//
			// NOTE: This is a temporary workaround to continue using the daily
			// hints page until a larger update can be made to use local game
			// data.
			const date = gameData?.today?.printDate?.replace(/-/g, '/');

			if( date )
			{
				const hintsLink = `https://www.nytimes.com/${date}/crosswords/spelling-bee-forum.html`;
				UI.addStyles();

				// Get instance
				window.spellcheckApp = await App.getInstance(
					hintsLink,
					window.localStorage
				);

				window.spellcheckApp.showMainModal();
			}
			else
			{
				App.showErrorModal(
					"Spell Check was unable to locate today’s hints.",
					"Could not locate “Today’s Hints” menu item"
				);
			}
		}
		catch( error )
		{
			console.log( error );

			App.showErrorModal( "Spell Check was unable to fetch today’s hints.", error.message );
		}
	}
	else
	{
		window.spellcheckApp.showMainModal();
	}
})();
