import App from "./app.mjs";
import UI from "./ui.mjs";

(async () =>
{
	if( !window.spellcheckApp )
	{
		try
		{
			let hintsLink = document.querySelector( ".pz-toolbar-button__hints" )
				|| document.querySelector( ".pz-dropdown__menu-item[href]" );

			if( hintsLink && hintsLink.href )
			{
				UI.addStyles();

				// Get instance
				window.spellcheckApp = await App.getInstance(
					hintsLink.href,
					window.localStorage
				);

				window.spellcheckApp.showMainModal();
			}
			else
			{
				window.spellcheckApp.showErrorModal(
					"Spell Check was unable to locate today’s hints.",
					"Could not locate “Today’s Hints” menu item"
				);
			}
		}
		catch( error )
		{
			console.log( error );

			App.showErrorModal( "Spell Check was unable to fetch today’s hints.", error.message );
		}
	}
	else
	{
		window.spellcheckApp.showMainModal();
	}
})();
