/* {% from "system/loader.njk" import partial %} */

let handleKeydown = (event) =>
{
	if( event.key === "Escape" )
	{
		hideModal();
	}
};

let hideModal = () =>
{
	document.querySelector( ".sb-modal-system" ).classList.remove( "sb-modal-open", "spellcheck" );
	document.querySelector( ".sb-modal-wrapper" ).innerHTML = "";

	document.removeEventListener( "keydown", handleKeydown );
};

const UI = {
	addStyles: () =>
	{
		/* eslint-disable quotes */
		const styles = `{{- partial('spellcheck.css', false) | cssmin | safe -}}`;
		/* eslint-enable quotes */

		const styleElement = document.createElement( "style" );
		styleElement.innerText = styles;
		document.head.appendChild( styleElement );

		console.log( "🎨 Spell Check: Stylesheet loaded" );
	},

	/**
	 * @param {string} template - name of template
	 * @return {Object}
	 */
	getModalRenderer: (template) =>
	{
		const modalTemplates = {

			/**
			 * @param {Object} context
			 * @param {Error} context.error
			 */
			error: ({ error } = {}) => (
				`{{- partial('modals/error.njk') -}}`
			),

			/**
			 * @param {Object} context
			 * @param {Grid} context.grid
			 * @param {Array} [context.words=[]]
			 */
			main: ({ grid, words=[] } = {}) => (
				`{{- partial('modals/main.njk') -}}`
			),
		};

		return modalTemplates[template];
	},

	hideModal: () => {
		hideModal();
	},

	/* {# */
	/* eslint-disable no-unused-vars */
	/* #} */

	/**
	 * @param {Object} context
	 * @param {string} name
	 * @param {string} [subtitle]
	 * @param {string} template
	 */
	showModal: ({context={}, name, subtitle, template} = {}) =>
	{
		if( !document.querySelector( "#js-hook-pz-moment__game.on-stage" ) )
		{
			console.log( "🙈 Spell Check: Puzzle is not currently visible" );
			return;
		}

		const renderModal = UI.getModalRenderer( template );
		const body = renderModal( context );

		/* eslint-disable quotes */
		const spellcheck = `{{- partial('spellcheck.njk') -}}`;
		/* eslint-enable quotes */

		document.querySelector( ".sb-modal-system" ).classList.add( "sb-modal-open", "spellcheck" );
		document.querySelector( ".sb-modal-wrapper" ).innerHTML = spellcheck;
		document.querySelector( ".sb-modal-close" ).addEventListener( "click", hideModal );

		document.addEventListener( "keydown", handleKeydown );

		/* eslint-disable quotes */
		/* {%- if env.SPELLCHECK_TIMER %} */
		console.timeEnd(`{{ env.SPELLCHECK_TIMER }}`);
		/* {%- endif %} */
		/* eslint-enable quotes */
	},

	/* {# */
	/* eslint-enable no-unused-vars */
	/* #} */
};

export default UI;
