<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 🎈🐀 -->
	<meta name="generator" content="{{ eleventy.generator }}">

	<title>{{ title if title else metadata.site.title }}</title>

	<meta name="title" content="{{ metadata.site.title }}">
	<meta name="description" content="{{ metadata.site.description }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ metadata.env.url }}">
	<meta property="og:title" content="{{ metadata.site.title }}">
	<meta property="og:description" content="{{ metadata.site.description }}">
	<meta property="og:image" content="{{ metadata.env.url }}/images/social.jpg">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ metadata.env.url }}">
	<meta property="twitter:title" content="Spell Check">
	<meta property="twitter:description" content="{{ metadata.site.description }}">
	<meta property="twitter:image" content="{{ metadata.env.url }}/images/social.jpg">

	{% set style %}
		{% include "css/reset.css" %}
		{% include "css/fonts.css" %}
		{% include "css/global.css" %}
		{% include "css/composition.css" %}
		{% include "css/utilities.css" %}
		{% include "css/blocks.css" %}
		{% include "components/form/form.css" %}
		{% include "components/toast/toast.css" %}
	{% endset %}
	<style>
		{{ style | cssmin | safe }}
	</style>

 	<script defer data-domain="spellcheck.fun" src="https://plausible.io/js/script.js"></script>
</head>
<body>
	{{ content | safe }}
</body>
</html>
