---
layout: base.njk
---
{%- from "system/component.njk" import component with context -%}
<div class="[ container stack-lg ][][]">
	<header class="[ center inset stack ][ measure ][ header ]">
		<div class="[ stack-sm ][][]">
			<nav class="nav">
				<p class="[][][ nav__title ]">
					<a class="[][ no-underline ][]" href="/">{{ metadata.site.title }}</a>
				</p>
			</nav>
		</div>
	</header>

	<main class="[ stack-lg ][][]">
		<section
			class="[ center inset stack ][ measure ][ section ]"
		>
			<header class="[ stack-sm ][][]">
				<h1 class="[][][ section__heading ]">{{ title }}</h1>
				{% if subtitle %}
					<p>{{ subtitle }}</p>
				{% endif %}
			</header>
		</section>

		{% if sections %}
			{% for section in sections %}
				<section
					class="[ center inset stack ][ measure ][ section ] {{ 'section--bgc' if section.backgroundColor }}"
					style="{{ '--bgc: ' + section.backgroundColor if section.backgroundColor }}"
				>
					{% for block in section.blocks %}
						{{- component( block.type, block ) -}}
					{% endfor %}
				</section>
			{% endfor %}
		{% else %}
			{{ content | safe }}
		{% endif %}
	</main>

	{% include "partials/footer.njk" %}
</div>
