<div class="spellcheck-carousel">
	<div class="spellcheck-carousel__cards">
		{{- partial('components/grid/grid.njk') -}}
		{{- partial('components/tll/tll.njk') -}}
	</div>

	<div class="spellcheck-carousel__nav">
		<button type="button" class="sb-bob-arrow sb-bob-prev">
			<span class="sb-bob-text">Previous</span>
		</button>

		<div class="spellcheck-carousel__dots"></div>

		<button type="button" class="sb-bob-arrow sb-bob-next active">
			<span class="sb-bob-text">Next</span>
		</button>
	</div>
</div>
