<div class="spellcheck-carousel">
	<div class="spellcheck-carousel__cards">
		{{- partial('components/grid/grid.njk') -}}
		{{- partial('components/tll/tll.njk') -}}
	</div>

	<div class="spellcheck-carousel__dots"></div>
</div>
