<div role="button" id="spellcheck-${ name }" class="sb-modal-frame help spellcheck">
	<div class="sb-modal-top">
		<div role="button" class="sb-modal-close">×</div>
	</div>

	<div class="sb-modal-content">
		<div class="sb-modal-header spellcheck__header">
			<h3 class="sb-modal-title">Spell Check</h3>
			<h4 class="sb-modal-subtitle spellcheck__subheading">
				${ subtitle ? subtitle : 'Words remaining in today’s puzzle.' }
			</h4>
		</div>
		<div class="sb-modal-body spellcheck__body">
			${ body }
		</div>
	</div>
</div>
