.spellcheck {
	--color-blue: #477aaa;
	--color-gray: #dcdcdc;
	--color-green: #009340;

	--border-color: var(--color-gray);
	--checkmark-color: var(--color-green);

	--grid-size: 1.875em;
	--space--2: 0.125rem;
	--space--1: 0.25rem;
	--space-0: 0.5rem;
	--space-1: 1rem;
	--space-2: 2rem;
	--space-3: 4rem;
	--text-size-sm: 0.875em;
	--text-size: 1rem;
	--text-size-lg: 1.125em;

	--border: solid var(--border-color) 1px;
	--border-radius: 6px;
}




/* ----------------- */
/* Layout            */
/* ----------------- */
.spellcheck .spellcheck__body {
	margin-top: var(--space-2);
}

.spellcheck .spellcheck__body > * {
	margin-bottom: 0 !important;
}

.spellcheck .spellcheck__body > * + * {
	margin-top: var(--space-2) !important;
}

.spellcheck__heading {
	font-weight: bold;
}

.spellcheck__heading + * {
	margin-top: var(--space-0);
}



.spellcheck-carousel {
	column-gap: var(--space-2);
	display: grid;
	grid-template-columns: 100% 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.spellcheck-carousel > * {
	scroll-snap-align: start;
}

.spellcheck-card {
	border: var(--border);
	border-radius: var(--border-radius);
	padding: var(--space-1);
}

.spellcheck .spellcheck__header {
	margin-bottom: 0;
}




/* ----------------- */
/* Grid              */
/* ----------------- */
.spellcheck__grid table {
	width: 100%;
}

.spellcheck__grid td,
.spellcheck__grid th {
	height: var(--grid-size);
	text-align: center;
	vertical-align: middle;
}
.spellcheck__grid tr + tr {
	border-top: var(--border);
}
.spellcheck__grid th {
	font-weight: bold;
	min-width: var(--grid-size);
}
.spellcheck__grid td {
	font-size: var(--text-size-lg);
}




.spellcheck__item--checked {
	border: solid var(--checkmark-color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	height: 17px;
	margin-top: 10px;
	transform: rotate(45deg) translate(-3px, -3px);
	width: 8.5px;
}




.spellcheck__error-details {
	font-size: var(--text-size-sm);
}

.spellcheck__error-details-contents {
	font-family: monospace;
}
