---
permalink: /index.html
---
<div class="[ container stack ][][]">
	<header class="[ stack-sm ][ inset ][ header ]">
		<p class="[][][ header__category ]">A bookmarklet</p>
		<h1 class="[][][ header__title ]">{{ metadata.site.title }}</h1>
		<p class="[][][ header__heading ]">Check your progress in the <span class="[][ nowrap ][]">New York Times</span> <a href="https://nytimes.com/puzzles/spelling-bee" class="[][ nowrap ][]">Spelling Bee</a> without leaving the puzzle.</p>
	</header>

	<main class="[ stack-lg ][][]">
		<picture>
			<source
				srcset="/images/desktop@2x.avif"
				media="(orientation:landscape)"
				type="image/avif"
			/>
			<source
				srcset="/images/desktop@2x.jpg"
				media="(orientation:landscape)"
				type="image/jpeg"
			/>
			<source
				srcset="/images/desktop@2x.webp"
				media="(orientation:landscape)"
				type="image/webp"
			/>

			<source
				srcset="/images/mobile@2x.avif"
				media="(orientation:portrait)"
				type="image/avif"
			/>
			<source
				srcset="/images/mobile@2x.jpg"
				media="(orientation:portrait)"
				type="image/jpeg"
			/>

			<img
				alt="Spelling Bee puzzle with Spell Check visible. A grid shows the number of remaining words for each letter and word length."
				src="/images/mobile@2x.jpg"
			/>
		</picture>

		<section
			class="[ stack-sm ][ inset ][ section ]"
			id="usage"
		>
			<h2 class="[][][ section__heading ]">How it works</h2>
			<p>Once you have the {{ metadata.site.title }} bookmarklet <a href="#install">installed</a>, open the <a href="https://nytimes.com/puzzles/spelling-bee">Spelling Bee</a> in your web browser and start playing as usual.</p>
			<p>Whenever you need a nudge in the right direction or just want to check your progress, click or tap the {{ metadata.site.title }} bookmarklet.</p>
			<p>Sourced from the grid of daily totals at the <a href="https://www.nytimes.com/spotlight/spelling-bee-forum">Spelling Bee Forum</a>, the {{ metadata.site.title }} grid reveals an ever-decreasing number of words remaining.</p>
			<p>Found both of today’s 5-letter words that start with “T”? A celebratory green checkmark shows when there are no words left to uncover.</p>
		</section>

		<section
			class="[ stack ][ inset ][ section ]"
			id="install"
		>
			<header class="[ stack-xs ][][]">
				<h2 class="[][][ section__heading ]">Installation</h2>
				<p>Bookmarklet installation is a little different depending on which browser and platform you’re using.</p>
			</header>

			<div class="[ stack-sm ][][]">
				<details class="[ stack-sm ][][ install__details ]">
					<summary>Android (Chrome)</summary>

					<div class="[ stack-sm ][][ install__steps ]">
						<ol>
						</ol>
					</div>
				</details>

				<details class="[][][ install__details ]">
					<summary>iOS (Safari)</summary>

					<div class="[ stack-sm ][][ install__steps ]">
						<ol>
						</ol>
					</div>
				</details>

				<details class="[][][ install__details ]" open>
					<summary>Desktop browsers</summary>

					<div class="[][][ install__steps ]">
						<ol class="[ stack-xs ][][]">
							<li>Open your browser bookmarks toolbar</li>
							<li>Click and drag this <a class="[][][ install__bookmarklet ]" href="#">{{ metadata.site.title }}</a> bookmarklet to the toolbar</li>
						</ol>
					</div>
				</details>
			</div>
		</section>
	</main>
</div>
