---
permalink: /index.html
---
<div class="[ container stack ][][]">
	<header class="[ stack-sm ][ inset ][ header ]">
		<p class="[][][ header__category ]">A bookmarklet</p>
		<h1 class="[][][ header__title ]">{{ metadata.site.title }}</h1>
		<p class="[][][ header__heading ]">Check your progress in the <span class="[][ nowrap ][]">New York Times</span> <a href="https://www.nytimes.com/puzzles/spelling-bee" class="[][ nowrap ][]">Spelling Bee</a> using just a few clicks or taps, without leaving the puzzle.</p>
	</header>
</div>
