<table class="spellcheck__grid">
	<tbody>
		<tr>
			<th></th>
			${ (() => (
				grid.wordLengths.map( wordLength => (
					`<th>${wordLength}</th>`
				) ).join("")
			))() }
		</tr>

		${ (() => (
			grid.distributions.map( ({letter, remaining}) => {
				const rowCells = remaining.map( (count) => `<td>${ count }</td>` )
					.join("");

				return `<tr><th>${ letter }</th>${ rowCells }</tr>`;
			} ).join("")
		))() }
	</tbody>
</table>
