<article aria-label="${ pangrams.found } of ${ pangrams.total } pangrams found"
	class="spellcheck__pangrams"
>
	<ul class="spellcheck__pangram-list" aria-hidden="true">
	${ (() => (
		[...Array( pangrams.total )].map( (a, index) => (
			`<li class="spellcheck__pangram-item ${index < pangrams.found ? 'spellcheck__pangram-item--found' : '' }"></li>`

		)).join( "" )
	))() }
	</ul>
</article>
